.score {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 50%;
}

.play-score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.display-score {
    display: flex;
    justify-content: space-evenly;
    width: 700px;
    align-items: center;
}